<h1><%= @destination.name%></h1>

<p>The last 5 post in this destination are:</p>

<p>The most feature post is :</p>

<p>The average age of bloggers in this datination is:</p>

<%= link_to 'Back', destinations_path %>
